<div 
  x-cloak 
  x-show="menu"
  class="fixed lg:relative h-dvh lg:h-auto w-full flex flex-col justify-center bg-white lg:bg-transparent left-0 top-0 lg:!block">
  <a 
    href="javascript:;" 
    x-on:click="menu = ! menu" 
    title="{{ "Menü anzeigen" | trans }}"
    :class="{ 'is-active': menu === true }"
    class="fixed left-1/2 -translate-x-1/2 top-85 block mx-auto w-28 h-auto lg:hidden">
    {{ partial:icons/cross class="w-28 h-auto" }}
  </a>
  <nav>
    <ul class="flex flex-col lg:flex-row gap-y-30 lg:gap-y-0 lg:gap-x-25 xl:gap-x-45">
      {{ nav:main }}
        {{ partial:menu/item }}
      {{ /nav:main }}
    </ul>
  </nav>
</div>