<a href="javascript:;" x-on:click="isVisible = false"
  x-data="{ isVisible: true }" 
  x-show="isVisible" 
  x-init="setTimeout(() => { isVisible = false }, 5000)"
  class="bg-sky !text-white !no-underline p-15 sm:px-20 sm:py-15 fixed top-0 left-0 sm:top-20 sm:left-20 w-full sm:inline-block sm:w-auto sm:max-w-xl z-[500]">
  <span class="block pr-20">
    Vielen Dank! Ihr Formular wurde erfolgreich verschickt. Wir werden uns in Kürze bei Ihnen melden.
  </span>
  {{ partial:icons/cross-sm class="absolute top-15 right-15" }}
</a>